.header{
    width: 100%;
    height: 15vh;
    background-color: var(--Destaque);
    display: flex;
    align-items: center;
   justify-content: center;
}
.header h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}